.NewContactForm form {
    min-height: 200px;
    max-height: 200px;
    min-width: 375px;
    max-width: 375px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid #F9E1DC;
    border-radius: 10px;
    margin-inline: auto;
    margin-bottom: 20px;
}

.NewContactForm h1, a {
    color: #eedef8;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 20px;
    text-decoration: none;
}

.NewContactForm label {
    display: block;
}