* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

button {
  max-width: fit-content;
  margin-inline: auto;
}

form {
  max-width: fit-content;
  margin-inline: auto;
}

body {
  background-color: #7161ef;
}

.loggedIn {
  padding-top: 10vh;
}
